<h2 class="mb-5">Mis medicos</h2>
<div class="text-end">
    <button class="btn btn-primary" routerLink="/new">
        Nuevo Medico
    </button>

</div>
<table class="table table-hober">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>TELEFONO</th>
            <th>CEDULA</th>
            <th>EMAIL</th>
            <th>ESPECIALIDAD</th>
            <th>ACTIVO</th>
        </tr>
    </thead>
    <tbody>
        @for (medicos of medicos; track medicos.id) {
            <tr>
                <td>{{medicos.id}}</td>
                <td>{{medicos.nombre}}</td>
                <td>{{medicos.apellidopaterno}}</td>
                <td>{{medicos.apellidomaterno}}</td>
                <td>{{medicos.telefono}}</td>
                <td>{{medicos.cedula}}</td>
                <td>{{medicos.email}}</td>
                <td>{{medicos.especialidad}}</td>
                <td>{{medicos.activo}}</td>

                <td class="text-end">
                <div class="btn-group">
                    
                        <button class="btn btn-primary" [routerLink]="[medicos.id,'edit']">
                            Editar
                        </button>
                        <button class="btn btn-danger"(click)="deleteMedico(medicos)">
                            Eliminar
                        </button>
                </div>
            </td>
            </tr>
        }
    </tbody>
</table>
